<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>First, My Coffe!</title>
    <link rel="stylesheet" href="workspace/FirstMyCoffee_ritagz/src/views/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="workspace/FirstMyCoffee_ritagz/src/views/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">

    <!-- button link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lumen/bootstrap.min.css"
        integrity="sha384-GzaBcW6yPIfhF+6VpKMjxbTx6tvR/yRd/yJub90CqoIn2Tz4rRXlSpTFYMKHCifX" crossorigin="anonymous">

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
    <style>
        .jumbotron {
            background-image: url('https://p4.wallpaperbetter.com/wallpaper/970/607/650/coffee-coffee-cup-hot-drink-minimalism-wallpaper-preview.jpg');
            height: 200%;
            width: 100%;
            line-height: 100px;
            margin-bottom: 70px;

        }
    </style>
</head>
<body>
    <!-- <div class="container" style="color: rgb(122, 77, 24);">
        <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
            <div class="container"><a class="navbar-brand js-scroll-trigger" href="/"
                    style="font-family: Merriweather, serif; font-size:xx-large; color: rgb(126, 90, 42); font-weight: bold; padding-bottom: 15px; padding-top: 15px;">First,
                    my Coffee!</a><button data-toggle="collapse" data-target="#navbarResponsive"
                    class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#contact"
                                style="color: rgb(126, 90, 42); font-family: Merriweather, serif; font-size: large; font-weight: bold;">Contact</a>
                        </li>
                        <li class="nav-item" role="presentation"></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div> -->
    <div>
        <nav class="navbar navbar-dark" style="color: rgb(43, 38, 32);">
            <a href="/" class="navbar-brand">
                <p
                style="font-family: Merriweather, serif; font-size:xx-large; color:rgb(51, 43, 34); font-weight: bolder; padding-top: 15px; margin-left:35px;">First,
                my Coffee!</p>
            </a>
            <a href="#contact" class="navbar-nav js-scroll-trigger">
                <p
                    style="font-family:'Merriweather, serif'; font-size:x-large; font-weight: bolder; color:rgb(43, 38, 32); margin-right: 120px ; padding-top: 10px;">
                    Contact</p>
            </a>
        </nav>
    </div>

    <div class="jumbotron">
        <section id="about mb-5" style="margin-top: 5px;">
            <div class="container">
                <div class="row">
                    <div class="col offset-lg-8 mx-auto text-center mt-1">
                        <!-- <h2 class="text-white section-heading" style="font-weight: bold;" >We've got what you need!</h2> -->
                        <h2 class="light mt-5">
                            <p class="text-center mb-5 mt-5"
                                style="font-size:50px ; font-weight: bold; font-family: 'Merriweather, serif'; color: rgb(212, 190, 176); font-style: oblique;">
                                Welcome!</p>
                            <p class="text-center mb-5 mt-6"
                                style="font-size:xx-large; font-weight: bold; font-family: 'Merriweather, serif'; color: rgb(212, 190, 176);">
                                Main
                                Dashboard</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- div container that contains the table -->
    <div class="container mt-5 mb-5">
        <div class="row">
            <!-- Form -->
            <div class="col-md-5 mb-5">
                <div class="card" style="border-width: 10px; margin-bottom: 20px;">
                    <div class="card-body">
                        <!-- onces i click the Add button in the form, it will send an event to the server, get or post methods, listening to a specific route -->
                        <form action="/add" method="POST">
                            <div class="form-group">
                                <input type="text" name="Name" placeholder="Insert a new Name" class="form-control"
                                    autofocus>
                            </div>
                            <div class="form-group">
                                <input type="text" name="Size" id="" cols="80" placeholder="Insert a new Size"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="Price" id="" cols="80" placeholder="Insert a new Price"
                                    class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">
                                Add
                            </button>

                        </form>
                    </div>
                </div>
            </div>
            <!-- LIST!! -->
            <div class="col-md-7 mb-5">
                <div class="card" style="border-width: 10px; margin-bottom: 20px;">
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>N*</th>
                                    <th>Name</th>
                                    <th>Size</th>
                                    <th>Price €</th>
                                    <th>Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (var i=0; i < coffeeItems.length; i++) { %>
                                    <tr>
                                        <td>
                                            <%= i + 1 %>
                                        </td>
                                        <td>
                                            <%= coffeeItems[i].Name %>
                                        </td>
                                        <td>
                                            <%= coffeeItems[i].Size %>
                                        </td>
                                        <td>
                                            <%= coffeeItems[i].Price %>
                                        </td>
                                        <td>
                                            <a href="/seasonal/<%= coffeeItems[i]._id %>"
                                                class="btn <%= coffeeItems[i].status ? 'btn btn-success' : 'btn-dark' %>">Seasonal</a>
                                            <a href="/delete/<%= coffeeItems[i]._id %>"
                                                class="btn btn-danger">Delete</a>
                                            <a href="/edit/<%= coffeeItems[i]._id %>" class="btn btn-primary">Edit</a>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- this div down, closes and contains the table -->
    </div>
    <!-- footer -->
    <section id="contact" style="background-color: rgb(43, 38, 32); padding-bottom: 10px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center mt-5"
                    style="font-size:x-large; font-family: 'Merriweather, serif'; color: rgb(212, 190, 176);">
                    <h2 class="section-heading">Get In Touch</h2>
                    <hr class="my-4">
                    <p class="mb-5">Student/Staff: Rita Gomez</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center" style="font-size:x-large; color: rgb(212, 190, 176)"><i
                        class="fa fa-phone fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300"
                        data-aos-once="true"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 mr-auto text-center" style="font-size:larger; color: rgb(212, 190, 176)"><i class="fa fa-envelope-o fa-3x mb-3 sr-contact"
                        data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true"></i>
                    <p>© 2021 Copyright - firstMyCoffee@ritagz.com</p>
                </div>
            </div>
        </div>
    </section>
    <script src="src/views/assets/js/jquery.min.js"></script>
    <script src="src/views/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="src/views/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="src/views/assets/js/creative.js"></script>

</body>

</html>